faiss-cpu
fastapi
gitpython
httpx
langchain
langchain-community
langchain-huggingface
langchain-ollama
langchainhub
openpyxl
pydantic
python-dotenv
sentence-transformers
streamlit
transformers
tqdm
uvicorn
watchdog